#index {
  /*font-family: 'Indie Flower', cursive;*/
  text-align: center;
}

#visualizacao1 {
  height: 550px;
}

#visualizacao2 {
  height: 550px;
}

#visualizacao3 {
  height: 500px;
}

h2 {
  text-align: center;
}

.pesquisa {
  margin-top: 5px;
}

#select-filtros-1 {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 0.5%;
}

#select-filtros-2 {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 1%;
}

#radio-filtros-1 {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 1%;
}

.checkbox {
  padding-left: 10%;
  margin-bottom: 2%;
}

.c3-axis-y text {
  font-size: 10px;
}

.c3-axis-x text {
  font-size: 10px;
}

.c3-line {
  stroke-width: 2px;
}
